/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* .red {
  color: #ff6464;
}

.green {
  color: #60e550;
}

.blue {
  color: #8dc6ff;
} */

@media (min-width: 1281px) {
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .header-title {
    font-size: var(--big-desktop-font-size);
    font-weight: bolder;
    color: var(--heading-color);
    text-align: center;
  }

  .addtodo-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: var(--todo-form-bg-color);
    border: var(--todo-form-border);
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    border-radius: 10px;
  }

  .addtodo-label {
    position: absolute;
    top: -35px;
    left: 0;
    color: var(--label-text-color);
    font-size: 26px;
  }

  .addtodo-input {
    width: 100%;
    padding: 12px 18px;
    height: 60px;
    offset: none;
    outline: none;
    font-size: 24px;
  }

  .addtodo-fields {
    position: relative;
  }

  .addtodo-btn-field {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .addtodo-button {
    padding: 12px 18px;
    font-size: 28px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .search-box-input {
    width: 60%;
    height: 60px;
    font-size: 28px !important;
    outline: none;
    padding: 14px 12px;
    border-radius: 20px;
    offset: none;
  }

  .search-box-input::placeholder {
    text-align: center;
  }
  .search-box-input:focus {
    text-align: center;
  }

  .todo-box-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;
  }

  .todo-length {
    font-size: 32px !important;
    font-weight: bolder;
    color: var(--heading-color);
  }

  .todo-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 30px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
  }

  .todo-boxesize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  .all-todo {
    font-size: var(--big-desktop-font-size);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 14px;
    background-color: var(--btn-background);
    color: var(--btn-color);
  }

  .todo-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .todo-datebox {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .todo-category {
    padding: 6px 10px;
    background-color: var(--todo-category-bgcolor);
    color: var(--todo-category-color);
    border-radius: 10px;
    font-size: var(--big-desktop-font-size);
  }

  .todo-text {
    color: var(--todo-text-color);
    font-size: var(--big-desktop-font-size);
    font-weight: bolder;
  }

  .todo-date {
    color: var(--todo-text-color);
    font-size: var(--big-desktop-font-size);
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    height: 40px;
    width: 40px;
    color: var(--icon-color);
    cursor: pointer;
  }

  .alter-icons {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .edit-btn {
    margin-right: 10px;
    color: greenyellow;
  }

  .delete-btn {
    color: red;
  }

  .todo-length {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .category-btn-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .btn-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .category-filter {
    padding: 14px 18px;
    font-size: var(--big-desktop-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .addtodo-button {
    padding: 14px 18px;
    font-size: var(--big-desktop-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  /* .category-btn {
    padding: 12px 18px;
    font-size: 28px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  } */

  .all-todo-textbox {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .all-todo-text {
    text-align: center;
    color: var(--heading-color);
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .header-title {
    font-size: var(--laptop-font-size);
    font-weight: bolder;
    color: var(--heading-color);
    text-align: center;
  }

  .addtodo-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: var(--todo-form-bg-color);
    border: var(--todo-form-border);
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    border-radius: 10px;
  }

  .addtodo-label {
    position: absolute;
    top: -35px;
    left: 0;
    color: var(--label-text-color);
    font-size: 26px;
  }

  .addtodo-input {
    width: 100%;
    padding: 12px 18px;
    height: 60px;
    offset: none;
    outline: none;
    font-size: 24px;
  }

  .addtodo-fields {
    position: relative;
  }

  .addtodo-btn-field {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .addtodo-button {
    padding: 12px 18px;
    font-size: 28px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .search-box-input {
    width: 60%;
    height: 60px;
    font-size: 28px !important;
    outline: none;
    padding: 14px 12px;
    border-radius: 20px;
    offset: none;
  }

  .search-box-input::placeholder {
    text-align: center;
  }
  .search-box-input:focus {
    text-align: center;
  }

  .todo-box-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;
  }

  .todo-length {
    font-size: 30px !important;
    font-weight: bolder;
    color: var(--heading-color);
  }

  .todo-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
  }

  .todo-boxesize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  .all-todo {
    font-size: var(--laptop-font-size);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 14px;
    background-color: var(--btn-background);
    color: var(--btn-color);
  }

  .todo-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .todo-datebox {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .todo-category {
    padding: 6px 10px;
    background-color: var(--todo-category-bgcolor);
    color: var(--todo-category-color);
    border-radius: 10px;
    font-size: var(--laptop-font-size);
  }

  .todo-text {
    color: var(--todo-text-color);
    font-size: var(--laptop-font-size);
    font-weight: bolder;
  }

  .todo-date {
    color: var(--todo-text-color);
    font-size: var(--laptop-font-size);
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    height: 40px;
    width: 40px;
    color: var(--icon-color);
    cursor: pointer;
  }

  .alter-icons {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .edit-btn {
    margin-right: 10px;
    color: greenyellow;
  }

  .delete-btn {
    color: red;
  }

  .todo-length {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .category-btn-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .btn-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .category-filter {
    padding: 10px 14px;
    font-size: var(--laptop-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .addtodo-button {
    padding: 14px 18px;
    font-size: var(--laptop-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .all-todo-textbox {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .all-todo-text {
    text-align: center;
    color: var(--heading-color);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .header-title {
    font-size: 28px;
    font-weight: bolder;
    color: var(--heading-color);
    text-align: center;
  }

  .addtodo-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--todo-form-bg-color);
    border: var(--todo-form-border);
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    border-radius: 10px;
  }

  .addtodo-label {
    position: absolute;
    top: -30px;
    left: 0;
    color: var(--label-text-color);
    font-size: 24px;
  }

  .addtodo-input {
    width: 100%;
    padding: 12px 18px;
    height: 40px;
    offset: none;
    outline: none;
    font-size: var(--tablet-font-size);
  }

  .addtodo-fields {
    position: relative;
  }

  .addtodo-btn-field {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .btn-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .category-filter {
    padding: 12px 10px;
    font-size: 16px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .addtodo-button {
    padding: 12px 10px;
    font-size: 18px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .search-box-input {
    width: 60%;
    height: 60px;
    font-size: var(--tablet-font-size);
    outline: none;
    padding: 14px 12px;
    border-radius: 20px;
    offset: none;
  }

  .search-box-input::placeholder {
    text-align: center;
  }
  .search-box-input:focus {
    text-align: center;
  }

  .todo-box-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;
  }

  .todo-length {
    font-size: 26px !important;
    font-weight: bolder;
    color: var(--heading-color);
  }

  .todo-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
  }

  .todo-boxesize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  .all-todo {
    font-size: var(--tablet-font-size);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 14px;
    background-color: var(--btn-background);
    color: var(--btn-color);
  }

  .todo-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .todo-datebox {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .todo-category {
    padding: 6px 10px;
    background-color: var(--todo-category-bgcolor);
    color: var(--todo-category-color);
    border-radius: 10px;
    font-size: var(--tablet-font-size);
  }

  .todo-text {
    color: var(--todo-text-color);
    font-size: var(--tablet-font-size);
    font-weight: bolder;
  }

  .todo-date {
    color: var(--todo-text-color);
    font-size: var(--tablet-font-size);
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    height: 40px;
    width: 40px;
    color: var(--icon-color);
    cursor: pointer;
  }

  .alter-icons {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .edit-btn {
    margin-right: 10px;
    color: greenyellow;
  }

  .delete-btn {
    color: red;
  }

  .todo-length {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .category-btn-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .category-btn {
    padding: 12px 18px;
    font-size: 28px;
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .all-todo-textbox {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .all-todo-text {
    text-align: center;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .header-title {
    font-size: 23px;
    font-weight: bolder;
    color: var(--heading-color);
    text-align: center;
  }

  .addtodo-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--todo-form-bg-color);
    border: var(--todo-form-border);
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    border-radius: 10px;
  }

  .addtodo-label {
    position: absolute;
    top: -28px;
    left: 0;
    color: var(--label-text-color);
    font-size: 22px;
  }

  .addtodo-input {
    width: 100%;
    padding: 12px 18px;
    height: 35px;
    offset: none;
    outline: none;
    font-size: var(--tablet-font-size);
  }

  .addtodo-fields {
    position: relative;
  }

  .addtodo-btn-field {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .addtodo-button {
    padding: 12px 18px;
    font-size: var(--low-resolution-tablet-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .search-box-input {
    width: 80%;
    height: 60px;
    font-size: var(--tablet-font-size);
    outline: none;
    padding: 14px 12px;
    border-radius: 20px;
    offset: none;
  }

  .search-box-input::placeholder {
    text-align: center;
    font-size: 14px;
  }
  .search-box-input:focus {
    text-align: center;
  }

  .todo-box-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;
  }

  .todo-length {
    font-size: var(--low-resolution-tablet-font-size);
    font-weight: bolder;
    color: var(--heading-color);
  }

  .todo-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 40px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
  }

  .todo-boxesize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  .all-todo {
    font-size: var(--low-resolution-tablet-font-size);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 14px;
    background-color: var(--btn-background);
    color: var(--btn-color);
  }

  .todo-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .todo-datebox {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .todo-category {
    padding: 6px 10px;
    background-color: var(--todo-category-bgcolor);
    color: var(--todo-category-color);
    border-radius: 10px;
    font-size: var(--low-resolution-tablet-font-size);
  }

  .todo-text {
    color: var(--todo-text-color);
    font-size: var(--low-resolution-tablet-font-size);
    font-weight: bolder;
  }

  .todo-date {
    color: var(--todo-text-color);
    font-size: var(--low-resolution-tablet-font-size);
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    height: 30px;
    width: 30px;
    color: var(--icon-color);
    cursor: pointer;
  }

  .alter-icons {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .edit-btn {
    margin-right: 10px;
    color: greenyellow;
  }

  .delete-btn {
    color: red;
  }

  .todo-length {
    text-align: center;
    font-size: var(--low-resolution-tablet-font-size);
    margin-bottom: 30px;
  }

  .category-btn-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .btn-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .category-filter {
    padding: 8px 12px;
    font-size: var(--low-resolution-tablet-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .addtodo-button {
    padding: 12px 14px;
    font-size: var(--low-resolution-tablet-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .all-todo-textbox {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .all-todo-text {
    text-align: center;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .header-title {
    font-size: 18px;
    font-weight: bolder;
    color: var(--heading-color);
    text-align: center;
  }

  .addtodo-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--todo-form-bg-color);
    border: var(--todo-form-border);
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
  }

  .addtodo-label {
    position: absolute;
    top: -24px;
    left: 0;
    color: var(--label-text-color);
    font-size: 16px;
  }

  .addtodo-input {
    width: 100%;
    padding: 12px 18px;
    height: 30px;
    offset: none;
    outline: none;
    font-size: var(--small-device-font-size);
  }

  .addtodo-fields {
    position: relative;
  }

  .addtodo-btn-field {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .addtodo-button {
    padding: 10px 12px;
    font-size: var(--small-device-font-size);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .search-box-input {
    width: 80%;
    height: 40px;
    font-size: var(--small-device-font-sizee);
    outline: none;
    padding: 14px 12px;
    border-radius: 20px;
    offset: none;
  }

  .search-box-input::placeholder {
    text-align: center;
    font-size: var(--small-device-font-size);
  }
  .search-box-input:focus {
    text-align: center;
  }

  .todo-box-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
  }

  .todo-length {
    font-size: var(--small-device-font-size);
    font-weight: bolder;
    color: var(--heading-color);
  }

  .todo-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 20px;
    border-radius: 15px;
  }

  .todo-boxesize {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    column-gap: 40px;
    row-gap: 10px;
    background-color: var(--todo-bg-color);
    color: var(--todo-text-color);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    align-items: center;
  }

  .all-todo {
    font-size: var(--small-device-font-sizee);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 14px;
    background-color: var(--btn-background);
    color: var(--btn-color);
  }

  .todo-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .todo-datebox {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .todo-category {
    padding: 6px 10px;
    background-color: var(--todo-category-bgcolor);
    color: var(--todo-category-color);
    border-radius: 10px;
    font-size: var(--small-device-font-size);
  }

  .todo-text {
    color: var(--todo-text-color);
    font-size: var(--small-device-font-size);
    font-weight: bolder;
  }

  .todo-date {
    color: var(--todo-text-color);
    font-size: var(--small-device-font-size);
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    height: 15px;
    width: 15px;
    color: var(--icon-color);
    cursor: pointer;
  }

  .alter-icons {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .edit-btn {
    margin-right: 10px;
    color: greenyellow;
  }

  .delete-btn {
    color: red;
  }

  .todo-length {
    text-align: center;
    font-size: var(--small-device-font-sizee);
    margin-bottom: 30px;
  }

  .category-btn-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .btn-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .category-filter {
    padding: 6px 10px;
    font-size: var(--small-device-font-sizee);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .addtodo-button {
    padding: 8px 12px;
    font-size: var(--small-device-font-sizee);
    background-color: var(--btn-background);
    color: var(--btn-color);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
  }

  .all-todo-textbox {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .all-todo-text {
    text-align: center;
  }
}
